<div class="p-5 text-center">
    <ul class="navbar-nav footer">
        <div class="d-flex justify-content-around">
            <li class="nav-item p-2">
                <a class="nav-link" href="#">Mobile app</a>
            </li>
            <li class="nav-item p-2">
                <a class="nav-link" href="#">Community</a>
            </li>
            <li class="nav-item p-2">
                <a class="nav-link" href="#">company</a>
            </li>
                <a class="navbar-brand p-2 logo" href="#">Link</a>
            <li class="nav-item p-2">
                <a class="nav-link" href="#">Help desk</a>
            </li>
            <li class="nav-item p-2">
                <a class="nav-link" href="#">Blog</a>
            </li>
            <li class="nav-item p-2">
                <a class="nav-link" href="#">Resources</a>
            </li>
        </div>        
    </ul>
    <p class="footer-inc">© Link, Inc. 2023. We love our users!</p>
</div>
</body>
</html>