<div class="p-5 text-center">
    <ul class="navbar-nav footer">
        <div class="d-flex justify-content-around">
            <li class="nav-item p-2">
                <a class="nav-link" href="#">Mobile app</a>
            </li>
            <li class="nav-item p-2">
                <a class="nav-link" href="#">Community</a>
            </li>
            <li class="nav-item p-2">
                <a class="nav-link" href="#">company</a>
            </li>
                <a class="navbar-brand p-2 logo" href="#">Link</a>
            <li class="nav-item p-2">
                <a class="nav-link" href="#">Help desk</a>
            </li>
            <li class="nav-item p-2">
                <a class="nav-link" href="#">Blog</a>
            </li>
            <li class="nav-item p-2">
                <a class="nav-link" href="#">Resources</a>
            </li>
        </div>        
    </ul>
    <p class="footer-inc">© Link, Inc. 2023. We love our users!</p>
</div>
<script>
    // 버튼 마우스 오버 시 스타일 변경
    function highlightButton(element) {
        element.style.cursor = 'pointer';
        element.style.boxShadow = '3px 3px 5px rgba(0, 0, 0, 0.2)';
    }

    function unhighlightButton(element) {
        element.style.cursor = 'pointer';
        element.style.boxShadow = 'none'; 
    }

    // 메뉴 마우스 오버 시 스타일 변경
    function highlightMenu(element) {
        element.style.cursor = 'pointer';
        element.style.color = '#9F12E1';
        element.style.fontWeight = 'bold';
    }

    function unhighlightMenu(element) {
        element.style.cursor = 'pointer';
        element.style.color = '#212529';
        element.style.fontWeight = 'normal';
    }
</script>
</body>
</html>