{{> layout/header}}
<style>
    /* 헤더, 푸터 스타일 시작 */
    .header {
        height: 70px;
        border-bottom: 1px solid #ccc;
        margin-top: 10px;
    }

    .logo {
        color: #9F12E1;
        font-weight: 700;
    }

    .footer {
        border-bottom: 1px solid #ccc;
        margin-bottom: 20px;
    }

    /* 타이틀 스타일 */
    .title-text {
        font-size: 20px;
    }

    /* 메인 스타일 */
    .main-text {
        font-size: 14px;
    }

    /* 서브 스타일 */
    .sub-text {
        font-size: 13px;
    }

    .footer-inc {
        font-size: 12px;
    }

    .btn-style {
        margin-top: 15px;
        border-radius: 30px;
        width: 100px;
        height: 40px;
    }

    .btn-login {
        border: 1px solid #9F12E1;
        color: #9F12E1;
        margin-right: 10px;
    }

    .btn-login a {
        margin-bottom: 5px;
        font-size: 15px;
        color: #9F12E1;
        margin-bottom: 5px;
        text-decoration: none;
    }

    .btn-register {
        background-color: #9F12E1;
        color: white;
    }

    .btn-register a {
        margin-bottom: 5px;
        font-size: 15px;
        color: #ffffff;
        margin-bottom: 5px;
        text-decoration: none;
    }

    .btn-logout {
        margin-left: 10px;
        margin-right: 10px;
        width: 280px;
        background-color: #9F12E1;
        color: white;
    }

    .btn-logout a {
        font-size: 15px;
        color: #ffffff;
    }

    .header-menu {
        font-weight: 600;
    }

    .dropdown-menu {
        width: 300px;
        position: absolute;
        left: -230px;

    }

    .dropdown-menu-big {
        font-size: 15px;
    }

    .dropdown-menu-small {
        font-size: 11px;
    }

    .dropdown-toggle::after {
        display: none;
    }

    .nav-img {
        width: 20px;
        height: 20px;
        margin-top: 20px;
        margin-right: 20px;
    }

    /* 헤더, 푸터 스타일 끝 */
    .logo {
        color: #9F12E1;
        font-weight: 700;
    }

    .footer {
        border-bottom: 1px solid #ccc;
        margin-bottom: 20px;
    }

    /* 타이틀 스타일 */
    .title-text {
        font-size: 20px;
    }

    /* 메인 스타일 */
    .main-text {
        font-size: 14px;
    }

    /* 서브 스타일 */
    .sub-text {
        font-size: 13px;
    }

    .footer-inc {
        font-size: 12px;
    }

    .btn-style {
        margin-top: 15px;
        border-radius: 30px;
        width: 100px;
        height: 40px;
    }

    .btn-login {
        border: 1px solid #9F12E1;
        color: #9F12E1;
        margin-right: 10px;
    }

    .btn-login a {
        margin-bottom: 5px;
        font-size: 15px;
        color: #9F12E1;
        margin-bottom: 5px;
        text-decoration: none;
    }

    .btn-register {
        margin-top: 35px;
        width: 100px;
        height: 40px;
        background-color: #9F12E1;
        color: white;
    }

    .btn-register a {
        margin-bottom: 5px;
        font-size: 15px;
        color: #FFFFFF;
        margin-bottom: 5px;
        text-decoration: none;
    }

    .btn-logout {
        margin-left: 10px;
        margin-right: 10px;
        width: 280px;
        background-color: #9F12E1;
        color: white;
    }

    .btn-save {
        margin-bottom: 5px;
        font-size: 15px;
        color: #FFFFFF;
        margin-bottom: 5px;

    }

    .header-menu {
        font-weight: 600;
    }

    .dropdown-menu {
        width: 300px;
    }

    .dropdown-menu-big {
        font-size: 15px;
    }

    .dropdown-menu-small {
        font-size: 11px;
    }

    .dropdown-toggle::after {
        display: none;
    }

    .nav-img {
        width: 20px;
        height: 20px;
        margin-top: 20px;
        margin-right: 20px;
    }

    /* 헤더, 푸터 스타일 끝 */
    /* board.html */
    .box-layout {
        border-radius: 18px;
        border: 1px solid #EDEEF2;
        margin-bottom: 15px;
    }

    th {
        background-color: #F5F5F5;
        border-bottom: 1px solid #EDEEF2;
        padding: 10px;
    }

    .rounded-left {
        border-top-left-radius: 18px;
    }

    .rounded-right {
        border-top-right-radius: 18px;
    }

    td {
        border-bottom: 1px solid #EDEEF2;
        padding: 10px;
    }

    .container {
        margin-top: 50;
        max-width: 1000px;
        display: grid;
        grid-gap: 10px;
        text-align: center;
    }

    .search-container {
        margin-left: 10;
        text-align: left;
    }

    .search-input {
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 25px;
    }

    .board-number {
        width: 10px;
    }

    .board-title {
        width: 260px;
    }

    .board-state {
        width: 120px;
        min-width: 120px;
    }

    .board-id {
        width: 100px;
    }

    .board-content {
        width: 420px;
    }

    .state-completion {
        border-radius: 15px;
        width: 120px;
        min-width: 120px;
        background-color: #9F12E1;
        color: white;
        text-align: center;
        font-size: 16px;
        padding: 5px 15px;
    }

    .left-align-container {
        margin-top: 30px;
        display: inline-block;
    }

    .right-align-container {
        display: inline-block;
    }

    .top-section,
    .bottom-section {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .button-search {
        position: relative;
        top: -4px;
    }
    .page-link {
        border-radius: 5px;
    }

    .board-overflow-title {
        white-space: nowrap;
        /* 너비를 벗어나도 줄 바꿈 하지 않음 */
        text-overflow: ellipsis;
        /* 너비를 벗어날때 ...로 처리됨 */
        overflow: hidden;
        /* 너비를 벗어날때 텍스트를 숨김 */
        -webkit-line-clamp: 1;
        /* 1줄로만 표시함 */
        max-width: 260px;
    }

    /* 여기 작업 중 ================================================================================================= */

    .board-overflow-content {
        white-space: nowrap;
        /* 너비를 벗어나도 줄 바꿈 하지 않음 */
        text-overflow: ellipsis;
        /* 너비를 벗어날때 ...로 처리됨 */
        overflow: hidden;
        /* 너비를 벗어날때 텍스트를 숨김 */
        -webkit-line-clamp: 1;
        /* 1줄로만 표시함 */
        max-width: 420px;
    }

    p {
        margin: 0;
    }
    a {
        text-decoration: none;
        color: inherit;
    }
    .board-button{
        font-size: 14px;
    }
    .pagination{
        margin-top: 20px;
    }
    .pagination a{
        color: #9F12E1;
    }
    .page-link {
        border-radius: 5px;
        margin-left: 10px;
        margin-right: 10px;
    }

    /* board.html */
</style>
<div class="container">

    <div class="container-fluid d-flex justify-content-between mb-3 ">

        <div class="left-align-container search-input">
            <form action="/board" method="get" onsubmit="return valid()">
                <input id="keyword" class="search-text" type="text" name="keyword" placeholder="검색어를 입력하세요"
                    style="border: none;" required>
                <button class="btn btn-primary button-search" type="submit" style="background: none; border: none">
                    <img src="/img/search.png" alt="검색 돋보기">
                </button>
            </form>
        </div>

        <div class="d-flex justify-content-end">
            <a class="btn btn-register main-text" href="/board/saveBoard">게시글작성</a>
        </div>

    </div>

    <div class="d-flex justify-content-between mb-3 box-layout .text-black-50">
        <table style="width:100%">
            <tr class="main-text">

                <th class="board-number rounded-left .text-black-50">
                    <span id="your-id-here">No</span>
                </th>

                <th class="board-title .text-black-50">제목</th>

                <th class="board-state">상태</th>

                <th class="board-id">아이디</th>

                <th class="board-content rounded-right">내용</th>
            </tr>

            {{#boardPG.content}}
            <tr class="td-text board-list">

                <td class="board-number text-center"></td>

                <td class="board-title board-overflow-title"><a href="/board/{{id}}/detailBoard">{{title}}</a></td>

                <td><a class="board-state state-completion" href="/board/{{id}}/updateForm">수정</a>
                </td>

                <td class="board-id">
                    <img src=" ./img/smallProfile.png" width="20" height="20" alt="이미지 설명" style="border-radius: 50%;">
                    {{user.username}}
                </td>
                <body>
                    <td class="board-content board-overflow-content p" >
                        <span id="contentSpan">{{{content}}}</span>
                    </td>
                    <script>
                        // 줄 바꿈 문자를 제거합니다.                       
                        var contentSpan = document.getElementById("contentSpan");
                        contentSpan.textContent = contentSpan.textContent.replace(/\n/g, '').trim();
                    </script>
                </body>

            </tr>
            {{/boardPG.content}}

            <tr style="height: 100px;"></tr>
        </table>
    </div>

    <ul class="pagination d-flex justify-content-center">

        <li class="page-item {{#boardPG.first}} disabled {{/boardPG.first}}"><a class="page-link"
                href="?page={{prevPage}}" style="margin-right: 10px;">이전</a>
        </li>
        <li class="page-item {{#boardPG.last}} disabled {{/boardPG.last}}"><a class="page-link"
                href="?page={{nextPage}}" style="margin-left: 10px;">다음</a></li>
        </li>

    </ul>

</div>

<script>
    function isWhitespace(str) {
        return str.trim() === '';
    }

    function valid() {
        let keyword = document.querySelector("#keyword").value;
        console.log(keyword);
        if (isWhitespace(keyword)) {
            alert('공백을 입력할 수 없습니다');
            return false;
        }
    }
    const tdElements = document.querySelectorAll('td.board-number'); // 클래스가 'board-number'인 모든 <td> 요소 선택
    const totalElements = tdElements.length;

    tdElements.forEach((td, index) => {
        const id = document.createElement('span');
        id.textContent = `${totalElements - index}`; // 역순으로 아이디 생성
        td.appendChild(id); // <td> 내에 아이디 추가
    });

</script>

{{> layout/footer}}