{{> layout/header}}

<style>
    /* 헤더, 푸터 스타일 시작 */
    .header {
        height: 70px;
        border-bottom: 1px solid #ccc;
        margin-top: 10px;
    }

    .logo {
        color: #9F12E1;
        font-weight: 700;
    }

    .footer {
        border-bottom: 1px solid #ccc;
        margin-bottom: 20px;
    }

    /* 타이틀 스타일 */
    .title-text {
        font-size: 20px;
    }

    /* 메인 스타일 */
    .main-text {
        font-size: 14px;
    }

    /* 서브 스타일 */
    .sub-text {
        font-size: 13px;
    }

    .footer-inc {
        font-size: 12px;
    }

    .btn-style {
        margin-top: 15px;
        border-radius: 30px;
        width: 100px;
        height: 40px;
    }

    .btn-login {
        border: 1px solid #9F12E1;
        color: #9F12E1;
        margin-right: 10px;
    }

    .btn-login a {
        margin-bottom: 5px;
        font-size: 15px;
        color: #9F12E1;
        margin-bottom: 5px;
        text-decoration: none;
    }

    .btn-register {
        background-color: #9F12E1;
        color: white;
    }

    .btn-register a {
        margin-bottom: 5px;
        font-size: 15px;
        color: #ffffff;
        margin-bottom: 5px;
        text-decoration: none;
    }

    .btn-logout {
        margin-left: 10px;
        margin-right: 10px;
        width: 280px;
        background-color: #9F12E1;
        color: white;
    }

    .btn-logout a {
        font-size: 15px;
        color: #ffffff;
    }

    .header-menu {
        font-weight: 600;
    }

    .dropdown-menu {
        width: 300px;
        position: absolute;
        left: -230px;

    }

    .dropdown-menu-big {
        font-size: 15px;
    }

    .dropdown-menu-small {
        font-size: 11px;
    }

    .dropdown-toggle::after {
        display: none;
    }

    .nav-img {
        width: 20px;
        height: 20px;
        margin-top: 20px;
        margin-right: 20px;
    }

    /* 헤더, 푸터 스타일 끝 */

    /* detailBoard.html */
    .body {
        margin-top: 15px;
    }

    .body-content {
        border: 1px solid #EDEEF2;
        border-radius: 15px;
        background-color: #ffffff;
    }

    .header {
        height: 70px;
        border-bottom: 1px solid #ccc;
        margin-top: 10px;
    }

    .logo {
        color: #9F12E1;
        font-weight: 700;
    }

    .footer {
        border-bottom: 1px solid #ccc;
        margin-bottom: 20px;
    }

    /* 타이틀 스타일 */
    .title-text {
        font-size: 20px;
    }

    /* 메인 스타일 */
    .main-text {
        font-size: 14px;
    }

    /* 서브 스타일 */
    .sub-text {
        font-size: 13px;
    }

    .footer-inc {
        font-size: 12px;
    }

    .btn-style {
        margin-top: 15px;
        border-radius: 30px;
        width: 100px;
        height: 40px;
    }

    .btn-login {
        border: 1px solid #9F12E1;
        color: #9F12E1;
        margin-right: 10px;
    }

    .btn-login a {
        margin-bottom: 5px;
        font-size: 15px;
        color: #9F12E1;
        margin-bottom: 5px;
        text-decoration: none;
    }

    .btn-register {
        background-color: #9F12E1;
        color: white;
    }

    .btn-register a {
        margin-bottom: 5px;
        font-size: 15px;
        color: #ffffff;
        margin-bottom: 5px;
        text-decoration: none;
    }

    .btn-logout {
        margin-left: 10px;
        margin-right: 10px;
        width: 280px;
        background-color: #9F12E1;
        color: white;
    }

    .btn-logout a {
        font-size: 15px;
        color: #ffffff;
    }

    .header-menu {
        font-weight: 600;
    }

    .dropdown-menu {
        width: 300px;
        position: absolute;
        left: -230px;

    }

    .dropdown-menu-big {
        font-size: 15px;
    }

    .dropdown-menu-small {
        font-size: 11px;
    }

    .dropdown-toggle::after {
        display: none;
    }

    .nav-img {
        width: 20px;
        height: 20px;
        margin-top: 20px;
        margin-right: 20px;
    }

    /* 헤더, 푸터 스타일 끝 */

    /* detailBoard.html */

    .body-content {
        border: 1px solid #EDEEF2;
        border-radius: 15px;
    }

    .header {
        height: 70px;
        border-bottom: 1px solid #ccc;
        margin-top: 10px;
    }

    .logo {
        color: #9F12E1;
        font-weight: 700;
    }

    .footer {
        border-bottom: 1px solid #ccc;
        margin-bottom: 20px;
    }

    /* 타이틀 스타일 */
    .title-text {
        font-size: 20px;
    }

    /* 메인 스타일 */
    .main-text {
        font-size: 14px;
    }

    /* 서브 스타일 */
    .sub-text {
        font-size: 13px;
    }

    .footer-inc {
        font-size: 12px;
    }

    .btn-style {
        margin-top: 15px;
        border-radius: 30px;
        width: 100px;
        height: 40px;
    }

    .btn-login {
        border: 1px solid #9F12E1;
        color: #9F12E1;
        margin-right: 10px;
    }

    .btn-login a {
        margin-bottom: 5px;
        font-size: 15px;
        color: #9F12E1;
        margin-bottom: 5px;
        text-decoration: none;
    }

    .btn-register {
        background-color: #9F12E1;
        color: white;
    }

    .btn-register a {
        margin-bottom: 5px;
        font-size: 15px;
        color: #ffffff;
        margin-bottom: 5px;
        text-decoration: none;
    }

    .btn-logout {
        margin-left: 10px;
        margin-right: 10px;
        width: 280px;
        background-color: #9F12E1;
        color: white;
    }

    .btn-logout a {
        font-size: 15px;
        color: #ffffff;
    }

    .header-menu {
        font-weight: 600;
    }

    .dropdown-menu {
        width: 300px;
        position: absolute;
        left: -230px;
    }

    .dropdown-menu-big {
        font-size: 15px;
    }

    .dropdown-menu-small {
        font-size: 11px;
    }

    .dropdown-toggle::after {
        display: none;
    }

    .nav-img {
        width: 20px;
        height: 20px;
        margin-top: 20px;
        margin-right: 20px;
    }

    /* 헤더, 푸터 스타일 끝 */

    /* detailBoard.html */
    .body {
        margin-top: 15px;
    }

    .body-content {
        border: 1px solid #EDEEF2;
        border-radius: 15px;
    }

    .header {
        height: 70px;
        border-bottom: 1px solid #ccc;
        margin-top: 10px;
    }

    .logo {
        color: #9F12E1;
        font-weight: 700;
    }

    .footer {
        border-bottom: 1px solid #ccc;
        margin-bottom: 20px;
    }

    /* 타이틀 스타일 */
    .title-text {
        font-size: 20px;
    }

    /* 메인 스타일 */
    .main-text {
        font-size: 14px;
    }

    /* 서브 스타일 */
    .sub-text {
        font-size: 13px;
    }

    .footer-inc {
        font-size: 12px;
    }

    .btn-style {
        margin-top: 15px;
        border-radius: 30px;
        width: 100px;
        height: 40px;
    }

    .btn-login {
        border: 1px solid #9F12E1;
        color: #9F12E1;
        margin-right: 10px;
    }

    .btn-login a {
        margin-bottom: 5px;
        font-size: 15px;
        color: #9F12E1;
        margin-bottom: 5px;
        text-decoration: none;
    }

    .btn-register {
        background-color: #9F12E1;
        color: white;
    }

    .btn-register a {
        margin-bottom: 5px;
        font-size: 15px;
        color: #ffffff;
        margin-bottom: 5px;
        text-decoration: none;
    }

    .btn-logout {
        margin-left: 10px;
        margin-right: 10px;
        width: 280px;
        background-color: #9F12E1;
        color: white;
    }

    .btn-logout a {
        font-size: 15px;
        color: #ffffff;
    }

    .header-menu {
        font-weight: 600;
    }

    .dropdown-menu {
        width: 300px;
        position: absolute;
        left: -230px;

    }

    .dropdown-menu-big {
        font-size: 15px;
    }

    .dropdown-menu-small {
        font-size: 11px;
    }

    .dropdown-toggle::after {
        display: none;
    }

    .nav-img {
        width: 20px;
        height: 20px;
        margin-top: 20px;
        margin-right: 20px;
    }

    /* 헤더, 푸터 스타일 끝 */

    /* detailBoard.html */
    .body {
        margin-top: 15px;
    }

    .body-content {
        border: 1px solid #EDEEF2;
        border-radius: 15px;
    }

    .body-content-title {
        margin-left: 20px;
    }

    .bottom-box {
        border-top: 1px solid #ccc;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    /* 제목 입력칸의 스타일 */
    input[type="text"] {
        height: 200px;
        display: flex;
        flex-direction: row;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #EDEEF2;
    }

    .container {
        display: grid;
        grid-gap: 10px;
        width: 600px;
    }

    h1 {
        font-weight: bold;
        /* 글자 굵기 설정 */
    }

    .box-background {
        background-color: #FAFAFA;
        height: 100%;
        padding-top: 50px;
    }

    .custom-textarea {
        padding: 10px;
        border: 1px solid #EDEEF2;
        border-radius: 1-px;
        font-size: 13px;
        line-height: 1.5;
        width: 100%;
        height: 100%;
        min-height: 100px;
        box-sizing: border-box;
        color: #828294;
        border-radius: 10px;
    }

    .title-mini-text {
        font-size: 16px;
    }

    .reply-writer {
        font-size: 12px;
        margin-bottom: -10px;
    }

    .reply-button {
        margin-left: 20px;
        width: 55px;
    }

    /* detailBoard.html */
</style>

<div class="box-background">
    <div class="container" style="margin-top: -37px;">

        <!-- 게시글내용 -->
        <h1 class="title-text body">{{board.title}}</h1>
        <div class="body-content">

            <div class="mb-3 d-flex flex-column">
                <div class="custom-textarea">
                    {{{board.content}}}
                </div>
            </div>


            <div class="d-flex bottom-box justify-content-center">

                <div class="w-100 px-3">

                    <h1 class="title-mini-text body" style="margin-bottom: 20px;">댓글</h1>

                    <!-- 댓글등록 -->
                    <form>
                        <input type="hidden" id="boardId" value="{{board.id}}">

                        <div class="reply-writer">작성자</div>

                        <div class="d-flex align-items-center mb-3">
                            <div class="d-flex flex-grow-1"> <!-- 좌우로 확장 -->
                                <input class="form-control sub-text" placeholder="댓글을 입력하세요" id="comment">
                            </div>

                            <button type="button" class="btn btn-style btn-register main-text bottom-box reply-button"
                                onclick="saveReply()">완료</button>

                        </div>
                    </form>


                    <!-- 댓글목록 -->
                    <div class="list-group-item">

                        {{#board.replies}}

                        <div>
                            <div class="reply-writer">{{user.username}}</div>
                            <div class="d-flex align-items-center">

                                <div class="d-flex flex-grow-1">
                                    <div class="form-control sub-text">{{comment}}</div>
                                </div>

                                <form>
                                    <button type="button"
                                        class="btn btn-style btn-register main-text bottom-box reply-button"
                                        onclick="deleteReply('{{id}}')">삭제</button>
                                </form>

                            </div>
                        </div>

                        {{/board.replies}}

                    </div>

                </div>
            </div>

        </div>

    </div>
</div>


<script>
    async function deleteReply(id) {
        let response = await fetch(`/api/reply/${id}/delete`, {
            method: "delete"
        });
        let responseBody = await response.json();
        if (responseBody.success) {
            location.reload();
        } else {
            alert(responseBody.data);
             // 일정 시간(예: 2초) 후에 자동으로 페이지 새로고침
             setTimeout(function () {
                location.reload();
            }, 10); // 2000 밀리초(2초) 후에 새로고침
        }
    }

    async function saveReply() {
        // 사용자가 입력한 댓글 내용을 가져옴
        let comment = document.querySelector("#comment").value;

        // 댓글 내용이 비어 있는지 확인
        if (comment.trim() === "") {
            alert("댓글을 입력하세요"); // 댓글 내용이 비어 있는 경우 경고 표시
            return; // 댓글을 저장하지 않음
        }

        let requestBody = {
            boardId: document.querySelector("#boardId").value,
            comment: comment
        };

        let response = await fetch("/api/reply/save", {
            method: "post",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(requestBody)
        });

        let responseBody = await response.json();
        if (responseBody.success) {
            updateCommentList(responseBody.data);
        } else {
            alert(responseBody.data);
            // 일정 시간(예: 2초) 후에 자동으로 페이지 새로고침
            setTimeout(function () {
                location.reload();
            }, 10); // 2000 밀리초(2초) 후에 새로고침
        }
    }

</script>


{{> layout/footer}}