{{> layout/header}}

<style>
    /* 헤더, 푸터 스타일 시작 */
.header{
    height: 70px;
    border-bottom: 1px solid #ccc;
    margin-top: 10px;
}
.logo{
    color: #9F12E1;
    font-weight: 700;
}
.footer{
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}
/* 타이틀 스타일 */
.title-text{
    font-size: 20px;
}
/* 메인 스타일 */
.main-text{
    font-size: 14px;
}
/* 서브 스타일 */
.sub-text{
    font-size: 13px;
}
.footer-inc{
    font-size: 12px;
}
.btn-style{
    margin-top: 15px;
    border-radius: 30px;
    width: 100px;
    height: 40px;
}
.btn-login{
    border: 1px solid #9F12E1;
    color: #9F12E1;
    margin-right: 10px;
}
.btn-login a{
    margin-bottom: 5px;
    font-size: 15px;
    color: #9F12E1;
    margin-bottom: 5px;
    text-decoration: none;
}
.btn-register{
    background-color: #9F12E1;
    color: white;
}
.btn-register a{
    margin-bottom: 5px;
    font-size: 15px;
    color: #ffffff;
    margin-bottom: 5px;
    text-decoration: none;
}
.btn-logout{
    margin-left: 10px;
    margin-right: 10px;
    width: 280px;
    background-color: #9F12E1;
    color: white;
}
.btn-logout a{
    font-size: 15px;
    color: #ffffff;
}
.header-menu{
    font-weight: 600;
}
.dropdown-menu{
    width: 300px;
    position: absolute;
    left: -230px;
}
.dropdown-menu-big{
    font-size: 15px;
}
.dropdown-menu-small{
    font-size: 11px;
}
.dropdown-toggle::after {
    display: none;
}
.nav-img{
    width: 20px;
    height: 20px;
    margin-top: 20px;
    margin-right: 20px;
}
/* 헤더, 푸터 스타일 끝 */

/* index.html */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 30px;
    width: 1000px;
}

.body {
    margin-top: 50px;
}

.body-content {
    border: 1px solid #EDEEF2;
    border-radius: 15px;
}

.body-content-title {
    margin-left: 20px;
    margin-top: 15px;
}

.first-box {
    margin-bottom: 15px;
    margin-left: 10px;
}

.left-box {
    margin-right: 20px;
    margin-left: 20px;
}

.left-box-first {
    margin-right: 40px;
    margin-left: 10px;
}

.bottom-box {
    border-top: 1px solid #ccc;
    margin-top: 100px;
    margin-bottom: 20px;
    padding-top: 10px;
}

.bottom-box-left {
    margin-left: 15px;
}

.bottom-box-right {
    margin-right: 15px;
}

.personal-img {
    width: 88px;
    height: 88px;
    background-color: #ccc;
    border-radius: 20px;
    margin-right: 15px;
}

.personal-img img {
    width: 88px;
    height: 88px;
    border-radius: 20px;
}

.img-botton {
    margin-top: 20px;
    margin-right: 15px;
    height: 40px;
}

.input-style {
    width: 310px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #EDEEF2;
    font-size: 14px;
}

.box-layout {
    margin-bottom: 15px;
}


.grid-container1 {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 30px;
    width: 1500px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-contain {
    padding-left: 15px;
    padding-right: 15px;
}

.card-input {
    height: 40px;
    margin-bottom: 5px;
}

.grid-container2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.grid-container3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin: 20px;
}

.grid-container4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.statussuccess {
    display: inline-block;
    padding: 5px 20px;
    border-radius: 20px;
    background-color: #9F12E1;
    color: white;
    cursor: pointer;
    font-size: 13px;
    height: 25px;
    text-align: center;
}

.statusfail {
    display: inline-block;
    padding: 5px 20px;
    border-radius: 20px;
    background-color: #EDEEF2;
    color: rgb(75, 72, 72);
    cursor: pointer;
    font-size: 13px;
    height: 25px;
    text-align: center;
}

.companyname {
    color: rgb(155, 154, 154);
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.title {
    font-size: 22px;
    margin-bottom: 20px;
}

.container {
    display: flex;
    align-items: center;
    white-space: nowrap;
    /* 줄 바꿈 없이 텍스트 표시 */
    overflow: hidden;
    /* 넘칠 경우 숨김 처리 */
    text-overflow: ellipsis;
}

.container-second{
    display: flex;
    white-space: nowrap;
    /* 줄 바꿈 없이 텍스트 표시 */
    overflow: hidden;
    /* 넘칠 경우 숨김 처리 */
    text-overflow: ellipsis;
    width: 1300px;
}

/* board에서 퍼온 스타일 */
.search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 15px;
}

.btn-category{
    border-radius: 30px;
    width: 90px;
    height: 40px;
    border: 1px solid #9F12E1;
    color: #9F12E1;
    background-color: #ffffff;
    margin-right: 10px;
}

.btn-category-off{
    border-radius: 30px;
    width: 90px;
    height: 40px;
    border: 1px solid #ccc;
    background-color: #ffffff;
    color : rgb(75, 72, 72);
}

.btn-category-on{
    border-radius: 30px;
    width: 90px;
    height: 40px;
    background-color: #9F12E1;
    color: white;
}

/* board에서 퍼온 스타일 */
.left-align-container {
    display: inline-block;
}

/* 추가된 스타일클래스입니다 */
.body-content-title2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-left: 20px;
}

/* 추가된 스타일클래스입니다 */
.star-icon-button {
    border: none;
    padding: 0;
    cursor: pointer;
    background: none;
    outline: none;
    z-index: 100;
}

/* 추가된 스타일클래스입니다 */
.star-icon {
    font-size: 24px;
    color: #9F12E1;
    transition: color 0.3s ease;
}

.body-second {
    margin-top: 20px;
}
.index-button{
    margin-top: 20px;
}
.index-button-prev{
    color: #9F12E1;
    margin-right: 10px;
}
.index-button-next{
    color: #9F12E1;
    margin-left: 10px;
}
.sub-sub-test{
        font-size: 12px;
        color: rgb(155, 154, 154);
}
.index-body{
    margin-left: 30px;
}

.filter-button{
    margin-right: 700px;
    width: 60px;
    background-color: #9F12E1;
    color: white;
}
.index-company-box{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
}
.container-second-card{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
}
a {
        text-decoration: none;
        color: inherit;
    }
    .pagination{
        margin-top: 20px;
    }
    .pagination a{
        color: #9F12E1;
    }
    .page-link {
        border-radius: 5px;
        margin-left: 10px;
        margin-right: 10px;
    }
/* index.html */
</style>

<div class="container p-5 d-flex justify-content-center">
    <div>
        <div class="d-flex index-body">
            <div>
                <button class="btn-category main-text" onclick="showSkills()" onmouseover="highlightButton(this)" onmouseout="unhighlightButton(this)">기술</button>
            </div>
            <div>
                <button class="btn-category main-text" onclick="showAreas()" onmouseover="highlightButton(this)" onmouseout="unhighlightButton(this)">지역</button>
            </div>
            <button class="btn-category main-text filter-button" type="button" onclick="applyFilters()" onmouseover="highlightButton(this)" onmouseout="unhighlightButton(this)">
                검색
            </button>
            <div class="left-align-container search-input">
                <form action="/" method="get" onsubmit="return valid()">
                    <input id="keyword" class="search-text btn-login" type="text" name="keyword" placeholder="검색어를 입력하세요" style="border: none;">

                <button class="navbar-toggler" type="submit" style="background: none; border: none">
                    <img src="/images/search.png" alt="이미지 설명">
                </button>
                </form>                
            </div>

        </div>
        <div id="skills-list" style="display: none;">
            <ul>
                {{#skills}}
                <button class="btn btn-style btn-category-off main-text skill-button" type="button" onclick="selectSkills(this)" onmouseover="highlightButton(this)" onmouseout="unhighlightButton(this)">{{skillName}}</button>
                {{/skills}}
            </ul>
        </div>
        
        <div id="areas-list" style="display: none;">
            <ul>
                {{#areas}}
                <button class="btn btn-style btn-category-off main-text area-button" type="button" onclick="selectAreas(this)" onmouseover="highlightButton(this)" onmouseout="unhighlightButton(this)">{{areaName}}</button>
                {{/areas}}
            </ul>
        </div>
        <br>
        <div class="body-content-title2 bottom-box-right">
            {{#filterDataList}}
                <div class="index-company-box" onmouseover="highlightCard(this)" onmouseout="unhighlightCard(this)">
                    <input type="hidden" id="noticeId" value="{{notice}}">
                    <a href="/applyNotice/{{notice}}">
                        <div class="mb-3 d-flex justify-content-between">
                            <div>
                                <img class="main-profile-img" src="/images/{{user.picUrl}}"
                                    style="max-width: 50%; max-height: 100%; border-radius: 60%;">
                            </div>
                        </div>
                        <div class="main-text"><b>{{title}}</b></div>
                        <div class="companyname">{{user.business}}</div>
                        <div class="companyname">
                            {{#hashSkilList}}
                            <div class="statusfail">{{skill.skillName}}</div>
                            {{/hashSkilList}}
                        </div>
                        <div class="companyname">
                            {{#hashAreaList}}
                            <div class="statusfail">{{area.areaName}}</div>
                            {{/hashAreaList}}
                        </div>
                        <div>
                            <div class="d-flex justify-content-end sub-sub-test">마감 {{timeDifference}}일전</div>
                        </div>
                    </a>
                 </div>
            {{/filterDataList}}
                 
        
            {{#noticeDataList}}
                <div class="index-company-box" onmouseover="highlightCard(this)" onmouseout="unhighlightCard(this)">
                    <input type="hidden" id="noticeId" value="{{notice}}">
                    <a href="/applyNotice/{{notice}}">
                        <div class="mb-3 d-flex justify-content-between">
                            <div>
                                <img class="main-profile-img" src="/images/{{user.picUrl}}"
                                    style="max-width: 50%; max-height: 100%; border-radius: 60%;">
                            </div>
                        </div>
                        <div class="main-text"><b>{{title}}</b></div>
                        <div class="companyname">{{user.business}}</div>
                        <div class="companyname">
                            {{#hashSkilList}}
                            <div class="statusfail">{{skill.skillName}}</div>
                            {{/hashSkilList}}
                        </div>
                        <div class="companyname">
                            {{#hashAreaList}}
                            <div class="statusfail">{{area.areaName}}</div>
                            {{/hashAreaList}}
                        </div>
                        <div>
                            <div class="d-flex justify-content-end sub-sub-test">마감 {{timeDifference}}일전</div>
                        </div>
                    </a>
                </div>
            {{/noticeDataList}}                   
        </div>        
              
    </div>
</div>
{{^companyUser}}
<div class="d-flex justify-content-center">
    <div class="p-5 d-flex flex-column container-second">
        <div class="title mt-3">
            <b>요즘 뜨는 기업</b>
        </div>
        <div class="d-flex justify-content-between">
            {{#companyDataList}}
                <div class="container-second-card" onmouseover="highlightCard(this)" onmouseout="unhighlightCard(this)">
                    <a href="/corporationDetail/{{id}}">
                    <div class="card-body">
                        <div class="mb-2">
                            <div>
                                <img src="/images/{{picUrl}}"
                                    style="max-width: 100%; max-height: 100%; border-radius: 10px">
                            </div>
                        </div>
                        <div class="main-text"><b>{{name}}</b></div>
                        <div class="companyname">{{business}}</div>
                        <br>
                        <div class="d-flex companyname">
                        <img src="/images/location.png"
                        style="max-width: 10%; margin-right: 5px;">  
                        <div>{{address}}</div>
                        </div>
                    </div>
                </a>
                </div>
            {{/companyDataList}}           
        </div>   
    </div>
</div>
{{/companyUser}}
{{#companyUser}}
<div class="d-flex justify-content-center">
    <div class="p-5 d-flex flex-column container-second">
        <div class="title mt-3">
            <b>요즘 뜨는 구직자</b>
        </div>
        <div class="d-flex justify-content-between">
            {{#userDataList}}
                <div class="container-second-card" onmouseover="highlightCard(this)" onmouseout="unhighlightCard(this)">
                    <a href="/userDetail/{{id}}">
                    <div class="card-body">
                        <div class="mb-2">
                            <div>
                                <img src="/images/{{picUrl}}"
                                    style="max-width: 100%; max-height: 100%; border-radius: 10px">
                            </div>
                        </div>
                        <div class="main-text"><b>{{name}}</b></div>
                        <div class="companyname">{{business}}</div>
                        <br>
                        <div class="d-flex companyname">
                        <img src="/images/location.png"
                        style="max-width: 10%; margin-right: 5px;">  
                        <div>{{address}}</div>
                        </div>
                    </div>
                </a>
                </div>
            {{/userDataList}}           
        </div>   
    </div>
</div>
{{/companyUser}}
<script>
    // 검색
    function isWhitespace(str) {
        return str.trim() === '';
    }

    function valid() {
        let keyword = document.querySelector("#keyword").value;
        console.log(keyword);
        if (isWhitespace(keyword)) {
            alert('공백을 입력할 수 없습니다');
            return false;
        }
    }

    // 북마크 마우스오버, 선택시 이미지 변경 임
    let bookmarkImageContainer = document.getElementById("bookmarkImageContainer");
    let bookmarkImage = document.getElementById("bookmarkImage");
    let bookmarkImageSrc = "/img/boomark.png";
    let bookmarkHoverImageSrc = "/img/boomarkOn.png";
    let isMouseOver = false;
    let isClicked = false;

    // 마우스 오버 이벤트 리스너
    bookmarkImageContainer.addEventListener("mouseover", function () {
        if (!isClicked) { // 클릭 상태가 아닌 경우에만 이미지 변경
            bookmarkImage.src = bookmarkHoverImageSrc;
            isMouseOver = true; // 마우스 오버 상태로 설정
        }
    });

    // 마우스 아웃 이벤트 리스너
    bookmarkImageContainer.addEventListener("mouseout", function () {
        if (!isClicked) { // 클릭 상태가 아닌 경우에만 이미지 변경
            bookmarkImage.src = bookmarkImageSrc;
            isMouseOver = false; // 마우스 오버 상태 해제
        }
    });

    // 클릭 이벤트 리스너
    bookmarkImageContainer.addEventListener("click", function () {
        if (!isClicked) {
            // 클릭 전 상태에서 클릭 시 이미지 변경
            bookmarkImage.src = bookmarkHoverImageSrc;
        } else {
            // 클릭 후 상태에서 클릭 시 이미지 변경
            bookmarkImage.src = bookmarkImageSrc;
        }
        
        isClicked = !isClicked; // 클릭 상태 토글
        isMouseOver = false; // 마우스 오버 상태 해제
    });

    // 기술버튼 누르면 기술리스트 표출
    function showSkills() {
        document.getElementById('skills-list').style.display = 'block';
        document.getElementById('areas-list').style.display = 'none';        
    }

    // 기술리스트의 기술들을 선택하면 스타일 변경
    function selectSkills(button) {
        let isButtonOn = button.classList.contains('btn-category-on');

        let allButtons = document.querySelectorAll('.btn-category.main-text.skill-button');
        allButtons.forEach((btn) => {
            btn.classList.remove('btn-category-on');
            btn.classList.add('btn-category-off');
        });

        if (!isButtonOn) {
            button.classList.remove('btn-category-off');
            button.classList.add('btn-category-on');
        }

        if (isButtonOn) {
            button.classList.remove('btn-category-on');
            button.classList.add('btn-category-off');
        }
    }

    // 지역버튼 누르면 지역리스트 표출
    function showAreas() {
        document.getElementById('skills-list').style.display = 'none';
        document.getElementById('areas-list').style.display = 'block';        
    }

    // 지역리스트의 지역들을 선택하면 스타일 변경
    function selectAreas(button) {      
        let isButtonOn = button.classList.contains('btn-category-on');

        let allButtons = document.querySelectorAll('.btn-category.main-text.area-button');
        allButtons.forEach((btn) => {
            btn.classList.remove('btn-category-on');
            btn.classList.add('btn-category-off');
        });

        if (!isButtonOn) {
            button.classList.remove('btn-category-off');
            button.classList.add('btn-category-on');
        }

        if (isButtonOn) {
            button.classList.remove('btn-category-on');
            button.classList.add('btn-category-off');
        }
    }

    // 스킬과 지역 선택 시 공고리스트 변경하기
    function applyFilters() {
        // 선택된 스킬과 지역 가져오기
        let selectedSkills = document.querySelectorAll('.skill-button.btn-category-on');
        let selectedAreas = document.querySelectorAll('.area-button.btn-category-on');

        // 선택된 스킬과 지역을 저장할 배열 초기화
        let selectedSkillNames = [];
        let selectedAreaNames = [];

        selectedSkills.forEach((skill) => {
            selectedSkillNames.push(skill.textContent);
        });

        selectedAreas.forEach((area) => {
            selectedAreaNames.push(area.textContent);
        });

        if (selectedSkillNames.length > 0 && selectedAreaNames.length > 0) {
            // 선택된 스킬과 지역 값을 서버로 전송
            const queryString = `selectedSkills=${selectedSkillNames.join(',')}&selectedAreas=${selectedAreaNames.join(',')}`;
            window.location.href = `/filtered-notices?${queryString}`;
        } else {
            console.log("선택안됨");
        }
    }
    
    // 카드 마우스 오버 시 스타일 변경
    function highlightCard(element) {
        element.style.border = '2px solid #9F12E1';
        element.style.cursor = 'pointer';
    }

    function unhighlightCard(element) {
        element.style.border = '1px solid #ccc';
        element.style.cursor = 'pointer';
    }

    // 버튼 마우스 오버 시 스타일 변경
    function highlightButton(element) {
        element.style.cursor = 'pointer';
        element.style.boxShadow = '3px 3px 5px rgba(0, 0, 0, 0.2)';
    }

    function unhighlightButton(element) {
        element.style.cursor = 'pointer';
        element.style.boxShadow = 'none'; 
    }
</script>
{{> layout/footer}}