{{> layout/header}}

<style>
    /* 헤더, 푸터 스타일 시작 */
.header{
    height: 70px;
    border-bottom: 1px solid #ccc;
    margin-top: 10px;
}
.logo{
    color: #9F12E1;
    font-weight: 700;
}
.footer{
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}
/* 타이틀 스타일 */
.title-text{
    font-size: 20px;
}
/* 메인 스타일 */
.main-text{
    font-size: 14px;
}
/* 서브 스타일 */
.sub-text{
    font-size: 13px;
}
.footer-inc{
    font-size: 12px;
}
.btn-style{
    margin-top: 15px;
    border-radius: 30px;
    width: 100px;
    height: 40px;
}
.btn-login{
    border: 1px solid #9F12E1;
    color: #9F12E1;
    margin-right: 10px;
}
.btn-login a{
    margin-bottom: 5px;
    font-size: 15px;
    color: #9F12E1;
    margin-bottom: 5px;
    text-decoration: none;
}
.btn-register{
    background-color: #9F12E1;
    color: white;
}
.btn-register a{
    margin-bottom: 5px;
    font-size: 15px;
    color: #ffffff;
    margin-bottom: 5px;
    text-decoration: none;
}
.btn-logout{
    margin-left: 10px;
    margin-right: 10px;
    width: 280px;
    background-color: #9F12E1;
    color: white;
}
.header-menu{
    font-weight: 600;
}
.dropdown-menu{
    width: 300px;
}
.dropdown-menu-big{
    font-size: 15px;
}
.dropdown-menu-small{
    font-size: 11px;
}
.dropdown-toggle::after {
    display: none;
}
.nav-img{
    width: 20px;
    height: 20px;
    margin-top: 20px;
    margin-right: 20px;
}
/* 헤더, 푸터 스타일 끝 */

/* 좌측 메뉴 스타일 시작 */
.left-nav-title{
    font-size: 15px;
    margin-left: 20px;
    margin-top: 10px;
}
.left-nav-sub{
    font-size: 11px;
}
.left-nav{
    width: 300px;
    margin-top: 85px;
}
.left-nav-detail{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    border: 1px solid #EDEEF2;
    margin-bottom: 10px;
}
.nav-img img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 10px;
}
/* 좌측 메뉴 스타일 끝 */

.grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 30px;
    width: 1000px;
}
.body{
    margin-top: 50px;
}
.body-content{
    border: 1px solid #EDEEF2;
    border-radius: 15px;
}
.body-content-title{
    margin-left: 20px;
    margin-top: 15px;
}
.first-box{
    margin-bottom: 15px;
    margin-left: 10px;
}
.left-box{
    margin-right: 20px;
    margin-left: 20px;
}
.left-box-first{
    margin-right: 40px;
    margin-left: 10px;
}
.bottom-box{
    border-top: 1px solid #ccc;
    margin-top: 100px;
    margin-bottom: 20px;
    padding-top: 10px;
}
.bottom-box-left{
    margin-left: 15px;
}
.bottom-box-right{
    margin-right: 15px;
}
.card-contain-second .personal-img{
    margin-top: 25px;
}
.personal-img{
    width: 88px;
    height: 88px;
    background-color: #ccc;
    border-radius: 20px;
    margin-top: 5px;
}
.personal-img img{
    width: 88px;
    height: 88px;
    border-radius: 20px;
}
.img-botton{
    margin-top: 20px;
    margin-right: 15px;
    height: 40px;
}
.input-style{
    width: 310px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #EDEEF2;
    font-size: 14px;
}
.box-layout{
    margin-bottom: 15px;
}
.card-contain-first{
    margin-top: 15px;
}
.card-contain-second{
    margin-top: 20px;
}
.btn-employment{
    width: 110px;
    border: 1px solid #9F12E1;
    color: #9F12E1;
    margin-right: 10px;
}
.employment-content{
    width: 400px;
    margin-left: 20px;
    margin-top: 30px;
}
.employment-content-title{
    font-weight: 500;
    margin-bottom: 5px;
}
.employment-content-sub{
    font-size: 13px;
    margin-bottom: 5px;
}
.employment-content-skill{
    font-size: 13px;
}
.employment-content-skill-box{
    background-color: #ccc;
    margin-right: 10px;
    border-radius: 10px;
    width: 10%;
    text-align: center;
}
</style>

<div class="d-flex justify-content-center">
    <div class="grid-container">
        <div class="left-nav">
            <div class="card-body d-flex flex-column">
                <div class="card left-nav-detail">
                    <div class="nav-img">
                        <img src="./img/personal.png">
                    </div>
                    <a class="dropdown-item left-nav-title" href="#">
                        회원정보 수정
                        <p class="left-nav-sub">Personal information</p>
                    </a>
                </div>
                <div class="card left-nav-detail">
                    <div class="nav-img">
                        <img src="./img/resume.png">
                    </div>
                    <a class="dropdown-item left-nav-title" href="#">
                        채용공고
                        <p class="left-nav-sub">Employment announcement</p>
                    </a>
                </div>
                <div class="card left-nav-detail">
                    <div class="nav-img">
                        <img src="./img/resume.png">
                    </div>
                    <a class="dropdown-item left-nav-title" href="#">
                        채용공고 현황
                        <p class="left-nav-sub">Employment status</p>
                    </a>
                </div>
                <div class="card left-nav-detail">
                    <div class="nav-img">
                        <img src="./img/company.png">
                    </div>
                    <a class="dropdown-item left-nav-title" href="#">
                        관심구직자 / 기술스택 매칭
                        <p class="left-nav-sub">Interested seekers / Technical stack</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="container">
            <h1 class="title-text body">채용공고</h1>
            <div class="card-contain-first">
                <div class="card">
                    <div class="card-header">Employment announcement</div>
                    <div class="card-body">
                        <form action="/join" method="post">
                            <div class="mb-3 d-flex justify-content-start">
                                <div class="personal-img">
                                    <img src="./img/hello.png">
                                </div>
                                <div class="employment-content"></div>
                                <div>
                                    <button class="btn img-botton btn-employment main-text" id="btnJoin" type="submit">채용공고 등록</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
            <div class="card-contain-second">
                <div class="card">
                    <div class="card-header">Employment announcement</div>
                    <div class="card-body">
                        <form action="/join" method="post">
                            <div class="mb-3 d-flex justify-content-start">
                                <div class="personal-img">
                                    <img src="./img/hello.png">
                                </div>
                                <div class="employment-content d-flex flex-column">
                                    <div class="employment-content-title">
                                        Java/Springframework 개발자
                                    </div>
                                    <div class="employment-content-sub">
                                        (주)그룹코리아
                                    </div>
                                    <div class="employment-content-skill d-flex">
                                        <div class="employment-content-skill-box">
                                            Java
                                        </div>
                                        <div class="employment-content-skill-box">
                                            CSS
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <button class="btn img-botton btn-employment main-text" id="btnJoin" type="submit">채용공고 삭제</button>
                                    </div>
                                    <div>
                                        <button class="btn img-botton btn-employment main-text" id="btnJoin" type="submit">채용공고 수정</button>
                                    </div>
                                </div>                                    
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
​  </div>
    </div>
</div>
{{> layout/footer}}