{{> layout/header}}

<style>
        /* 헤더, 푸터 스타일 시작 */
        .header{
    height: 70px;
    border-bottom: 1px solid #ccc;
    margin-top: 10px;
}
.logo{
    color: #9F12E1;
    font-weight: 700;
}
.footer{
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}
/* 타이틀 스타일 */
.title-text{
    font-size: 20px;
}
/* 메인 스타일 */
.main-text{
    font-size: 14px;
}
/* 서브 스타일 */
.sub-text{
    font-size: 13px;
}
.footer-inc{
    font-size: 12px;
}
.btn-style{
    margin-top: 15px;
    border-radius: 30px;
    width: 100px;
    height: 40px;
}
.btn-login{
    border: 1px solid #9F12E1;
    color: #9F12E1;
    margin-right: 10px;
}
.btn-login a{
    margin-bottom: 5px;
    font-size: 15px;
    color: #9F12E1;
    margin-bottom: 5px;
    text-decoration: none;
}
.btn-register{
    background-color: #9F12E1;
    color: white;
}
.btn-register a{
    margin-bottom: 5px;
    font-size: 15px;
    color: #ffffff;
    margin-bottom: 5px;
    text-decoration: none;
}
.btn-logout{
    margin-left: 10px;
    margin-right: 10px;
    width: 280px;
    background-color: #9F12E1;
    color: white;
}
.btn-logout a{
    font-size: 15px;
    color: #ffffff;
}
.header-menu{
    font-weight: 600;
}
.dropdown-menu{
    width: 300px;
    position: absolute;
    left: -230px;

}
.dropdown-menu-big{
    font-size: 15px;
}
.dropdown-menu-small{
    font-size: 11px;
}
.dropdown-toggle::after {
    display: none;
}
.nav-img{
    width: 20px;
    height: 20px;
    margin-top: 20px;
    margin-right: 20px;
}
/* 헤더, 푸터 스타일 끝 */

/* 좌측 메뉴 스타일 시작 */
.left-nav-title{
    font-size: 15px;
    margin-top: 10px;
}
.left-nav-sub{
    font-size: 11px;
}
.left-nav{
    width: 300px;
    margin-top: 85px;
}
.left-nav-detail{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    border: 1px solid #EDEEF2;
    margin-bottom: 10px;
}
.left-nav-detail .nav-img{
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
}
/* 좌측 메뉴 스타일 끝 */

.grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 30px;
    width: 1000px;
}
.body{
    margin-top: 50px;
}
.body-content{
    border: 1px solid #EDEEF2;
    border-radius: 15px;
}
.body-content-title{
    margin-left: 20px;
    margin-top: 15px;
}
.first-box{
    margin-bottom: 15px;
    margin-left: 10px;
}
.left-box{
    margin-right: 20px;
    margin-left: 20px;
}
.left-box-first{
    margin-right: 40px;
    margin-left: 10px;
}
.bottom-box{
    border-top: 1px solid #ccc;
    margin-top: 100px;
    margin-bottom: 20px;
    padding-top: 10px;
}
.bottom-box-left{
    margin-left: 15px;
}
.bottom-box-right{
    margin-right: 5px;
}
.personal-img{
    width: 88px;
    height: 88px;
    background-color: #ccc;
    border-radius: 20px;
    margin-right: 15px;
}
.personal-img img{
    width: 88px;
    height: 88px;
    border-radius: 20px;
}
.img-botton{
    margin-top: 20px;
    margin-right: 15px;
    height: 40px;
}
.input-style{
    width: 310px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #EDEEF2;
    font-size: 14px;
}
.box-layout{
    margin-bottom: 15px;
}


.grid-container1 {
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-gap: 30px;
        width: 1500px;
        height: 600px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}

.card-contain{
    padding-left: 15px;
    padding-right: 15px;
}

.card-input{
    height: 40px;
    margin-bottom: 5px;
}
    .grid-container2 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .grid-container3 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        margin: 20px;
    }

    .statussuccess {
        display: inline-block;
        padding: 5px 20px;
        border-radius: 20px;
        background-color: #9F12E1;
        color: white;
        cursor: pointer;
        font-size: 13px;
        height: 25px;
        text-align: center;
    }

    .statusfail {
        display: inline-block;
        padding: 5px 20px;
        border-radius: 20px;
        background-color: #EDEEF2;
        color: rgb(75, 72, 72);
        cursor: pointer;
        font-size: 13px;
        height: 25px;
        text-align: center;
    }

    .statusundetermined{
        display: inline-block;
        padding: 5px 20px;
        border-radius: 20px;
        background-color: rgb(209, 208, 208);
        color: rgb(75, 72, 72);
        cursor: pointer;
        font-size: 15px;
        height: 30px; 
    }


    .companyname {
        color: rgb(155, 154, 154);
        font-size: 14px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .title {
        font-size: 22px;
    }

    .container{
        display: flex;
        align-items: center;
        gap: 8px;
        white-space: nowrap; /* 줄 바꿈 없이 텍스트 표시 */
        text-overflow: ellipsis;
        margin-bottom: 30px;
    }
    

    .image{
        width: 100px;
        height: 50px;
    }
    .text{
        margin-left: 5px;
        margin-top: 7px;
        display: flex;
        justify-content: center;    
    }
    .box-background{
        background-color: #FAFAFA;
        height: 900px;
    }
    .box{
        width: 750px;
        height: 800px;
        padding: 20px;
        border-radius: 20px;
        border: 1px solid #EDEEF2;
        background-color: #ffffff;
        margin-top: 50px;
    }
    .d-flex1{
        display: flex;
        justify-content: start;
        margin-right: 150px;
    }
    .d-flex2{
        margin-right: 50px;
    }
    .close-btn{
        margin-left: 300px;
    }
    .text-line{
        margin-bottom: 10px;
    }
    .main-text-color{
        color: rgb(155, 154, 154);
    }
    .boomark-img{
        margin-left: 480px;
    }
    .five-box{
        overflow: hidden;
        white-space: normal;
    }
</style>

<div class="box-background d-flex justify-content-center">
    <div class="box">
        <div class="container d-flex first-box">
            <form action="/apply/pass" method="post" enctype="multipart/form-data">
                <input type="hidden" name="applyId" value="{{apply.get.id}}">
                <input type="hidden" name="noticeId" value="{{apply.get.notice.id}}">
                <button type="submit" class="btn btn-style btn-register main-text bottom-box-right" name="pass" value="합격" onmouseover="highlightButton(this)" onmouseout="unhighlightButton(this)">합격</button>
                <button type="submit" class="btn btn-style btn-failed main-text bottom-box-right" name="pass" value="불합격" onmouseover="highlightButton(this)" onmouseout="unhighlightButton(this)">불합격</button>
                <button type="submit" class="btn btn-style btn-login main-text bottom-box-right" name="pass" value="미정" onmouseover="highlightButton(this)" onmouseout="unhighlightButton(this)">미정</button>
            </form>
        </div>
        <div class>
             <div class="container d-flex mt-3 second-box">
                <div class="personal-img">
                    <img src="/images/hello.png">
                </div>
                <div class="text title-text">{{apply.get.user.name}}</div>
             </div>
        </div>
        <hr>
        <div class="container d-flex third-box">
            <div class="d-flex1 sub-text">
                <div class="d-flex2">
                    <div class="main-text text-line">경력</div>
                    <div class="main-text text-line">이메일</div>
                    <div class="main-text">전화번호</div>
                </div>
                <div >
                    <div class="main-text main-text-color text-line">{{apply.get.resume.career}}</div>
                    <div class="main-text main-text-color text-line">{{apply.get.user.email}}</div>
                    <div class="main-text main-text-color ">{{apply.get.user.phonenumber}}</div>
                </div>
            </div>
            <div class="d-flex1 sub-text">
                <div class="d-flex2">
                    <div class="main-text text-line">주소</div>
                    <div class="main-text text-line">생년월일</div>
                    <div class="main-text">지역</div>
                </div>
                <div>
                    <div class="main-text main-text-color text-line">{{apply.get.user.address}}</div>
                    <div class="main-text main-text-color text-line">{{apply.get.user.age}}</div>
                    <div class="main-text main-text-color">{{#apply.get.resume.hashAreaList}} {{area.areaName}} {{/apply.get.resume.hashAreaList}}</div>
                </div>
            </div>
        </div>
        <hr>
        <div class="container d-flex sub-text four-box">
            {{#apply.get.resume.hashSkilList}}
            <div class="statusfail">{{skill.skillName}}</div>
            {{/apply.get.resume.hashSkilList}}
        </div>
        <br>
        <div class="container d-flex sub-text five-box">
            <div>{{apply.get.resume.content}}</div>
        </div>    
    </div>
</div>
<script>
    // 버튼 마우스 오버 시 스타일 변경
    function highlightButton(element) {
        element.style.cursor = 'pointer';
        element.style.boxShadow = '3px 3px 5px rgba(0, 0, 0, 0.2)';
    }

    function unhighlightButton(element) {
        element.style.cursor = 'pointer';
        element.style.boxShadow = 'none'; 
    }
</script>

{{> layout/footer}}