{{> layout/header}}

<style>
    /* 헤더, 푸터 스타일 시작 */
    .header {
        height: 70px;
        border-bottom: 1px solid #ccc;
        margin-top: 10px;
    }

    .logo {
        color: #9F12E1;
        font-weight: 700;
    }

    .footer {
        border-bottom: 1px solid #ccc;
        margin-bottom: 20px;
    }

    /* 타이틀 스타일 */
    .title-text {
        font-size: 20px;
    }

    /* 메인 스타일 */
    .main-text {
        font-size: 14px;
    }

    /* 서브 스타일 */
    .sub-text {
        font-size: 13px;
    }

    .footer-inc {
        font-size: 12px;
    }

    .btn-style {
        margin-top: 15px;
        border-radius: 30px;
        width: 100px;
        height: 40px;
    }

    .btn-login {
        border: 1px solid #9F12E1;
        color: #9F12E1;
        margin-right: 10px;
    }

    .btn-login a {
        margin-bottom: 5px;
        font-size: 15px;
        color: #9F12E1;
        margin-bottom: 5px;
        text-decoration: none;
    }

    .btn-register {
        background-color: #9F12E1;
        color: white;
    }

    .btn-register a {
        margin-bottom: 5px;
        font-size: 15px;
        color: #ffffff;
        margin-bottom: 5px;
        text-decoration: none;
    }

    .btn-logout {
        margin-left: 10px;
        margin-right: 10px;
        width: 280px;
        background-color: #9F12E1;
        color: white;
    }

    .btn-logout a {
        font-size: 15px;
        color: #ffffff;
    }

    .header-menu {
        font-weight: 600;
    }

    .dropdown-menu {
        width: 300px;
        position: absolute;
        left: -230px;

    }

    .dropdown-menu-big {
        font-size: 15px;
    }

    .dropdown-menu-small {
        font-size: 11px;
    }

    .dropdown-toggle::after {
        display: none;
    }

    .nav-img {
        width: 20px;
        height: 20px;
        margin-top: 20px;
        margin-right: 20px;
    }

    /* 헤더, 푸터 스타일 끝 */

    /* 좌측 메뉴 스타일 시작 */
    .left-nav-title {
        font-size: 15px;
        margin-top: 10px;
    }

    .left-nav-sub {
        font-size: 11px;
    }

    .left-nav {
        width: 300px;
        margin-top: 85px;
    }

    .left-nav-detail {
        display: flex;
        flex-direction: row;
        border-radius: 10px;
        border: 1px solid #EDEEF2;
        margin-bottom: 10px;
    }

    .left-nav-detail .nav-img {
        width: 40px;
        height: 40px;
        margin-top: 10px;
        margin-left: 10px;
    }

    /* 좌측 메뉴 스타일 끝 */

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-gap: 30px;
        width: 1000px;
    }


    .body {
        margin-top: 50px;
    }

    .body-content {
        border: 1px solid #EDEEF2;
        border-radius: 15px;
    }

    .body-content-title {
        margin-left: 20px;
        margin-top: 25px;
    }

    .first-box {
        margin-bottom: 15px;
        margin-left: 10px;
    }

    .left-box {
        margin-right: 20px;
        margin-left: 20px;
    }

    .left-box-first {
        margin-right: 25px;
        margin-left: 10px;
    }

    .bottom-box {
        border-top: 1px solid #ccc;
        margin-top: 100px;
        margin-bottom: 20px;
        padding-top: 10px;
    }

    .bottom-box-left {
        margin-left: 15px;
    }

    .bottom-box-right {
        margin-right: 15px;
    }

    .personal-img {
        width: 88px;
        height: 88px;
        background-color: #ccc;
        border-radius: 20px;
        margin-right: 15px;
    }

    .personal-img img {
        width: 88px;
        height: 88px;
        border-radius: 20px;
    }

    .img-botton {
        margin-top: 20px;
        margin-right: 15px;
        height: 40px;
    }

    .input-style {
        width: 310px;
        height: 40px;
        border-radius: 5px;
        border: 1px solid #EDEEF2;
        font-size: 14px;
    }

    .input-style-name {
        width: 200px;
        height: 40px;
        border-radius: 5px;
        border: 1px solid #EDEEF2;
        font-size: 14px;
    }

    .box-layout {
        margin-bottom: 15px;
    }

    /* 추가된 스타일클래스입니다 */
    .body-content-title2 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        margin-left: 20px;
    }

    /* 추가된 스타일클래스입니다 */
    .body-content-title3 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin-left: 20px;
    }

    .box-layout {
        margin-bottom: 15px;
        margin-left: 25px;
    }

    .box-layout-right {
        margin-left: 25px;
        margin-right: 25px;
    }

    .box-layout-textarea {
        margin-left: 25px;
        margin-right: 25px;
    }

    .box-layout-skillArea {
        margin-left: 5px;
    }

    a {
        text-decoration: none;
        color: inherit;
    }
</style>

<div class="d-flex justify-content-center">
    <div class="grid-container d-flex">
        <div class="left-nav">
            <div class="card-body d-flex flex-column">
                <div class="card left-nav-detail d-flex" onmouseover="highlightCard(this)"
                    onmouseout="unhighlightCard(this)" id="personalImageContainer">
                    <div class="nav-img">
                        <img src="/images/personal.png" id="personalImage">
                    </div>
                    <a class="dropdown-item left-nav-title" href="/updateSeekerForm">
                        회원정보 수정
                        <p class="left-nav-sub">Personal information</p>
                    </a>
                </div>
                <div class="card left-nav-detail" onmouseover="highlightCard(this)" onmouseout="unhighlightCard(this)"
                    id="employmentImageContainer">
                    <div class="nav-img">
                        <img src="/images/resume.png" id="employmentImage">
                    </div>
                    <a class="dropdown-item left-nav-title" href="/seekerResumeForm">
                        이력서
                        <p class="left-nav-sub">Resume</p>
                    </a>
                </div>
                <div class="card left-nav-detail" onmouseover="highlightCard(this)" onmouseout="unhighlightCard(this)"
                    id="statusImageContainer">
                    <div class="nav-img">
                        <img src="/images/resume.png" id="statusImage">
                    </div>
                    <a class="dropdown-item left-nav-title" href="/seekerSupport">
                        지원현황
                        <p class="left-nav-sub">Support status</p>
                    </a>
                </div>
                <div class="card left-nav-detail" onmouseover="highlightCard(this)" onmouseout="unhighlightCard(this)"
                    id="interestImageContainer">
                    <div class="nav-img">
                        <img src="/images/company.png" id="interestImage">
                    </div>
                    <a class="dropdown-item left-nav-title" href="/seekerCompanies">
                        관심기업 / 기술스택 매칭
                        <p class="left-nav-sub">Interested companies / Technical stack</p>
                    </a>
                </div>
            </div>
        </div>
        <div>
            <h1 class="title-text body"><b>이력서</b></h1>
            <div class="body-content">
                <div class="body-content-title">
                    <p>Resume</p>
                </div>
                <form action="/SeekerUpdate/{{userResume.id}}" method="post" enctype="multipart/form-data">
                    <div class="d-flex first-box box-layout">
                        {{#userResume}}
                        <div class="d-flex left-box-first">
                            <div class="personal-img">
                                <img src="/images/{{user.picUrl}}">
                            </div>
                            <div class="mb-3 d-flex flex-column">
                                <label for="name" class="form-label main-text">이름</label>
                                <input class="input-style-name" type="text" id="name" class="form-control sub-text"
                                    name="name" value="{{user.name}}" disabled>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div>
                                <label for="carrer" class="form-label main-text">경력</label>
                            </div>
                            <div>
                                <label class="me-5 custom-radio main-text">
                                    <input type="radio" name="career" value=1
                                        checked=" {{#user.career}}checked {{/user.career}}"> 경력
                                </label>
                                <label class="me-5 custom-radio main-text">
                                    <input type="radio" name="career" value=2
                                        checked="{{^user.career}}checked{{/user.career}}"> 신입
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex box-layout">
                        <div class="mb-3 d-flex flex-column">
                            <label for="email" class="form-label main-text">이메일</label>
                            <input class="input-style" type="text" id="email" class="form-control sub-text"
                             name="email" value="{{user.email}}" disabled>
                        </div>
                        <div class="mb-3 d-flex flex-column box-layout-right">
                            <label for="phoneNumber" class="form-label main-text">전화번호</label>
                            <input class="input-style" type="text" id="phoneNumber" class="form-control sub-text"
                                 name="phoneNumber" value="{{user.phonenumber}}" disabled>
                        </div>
                    </div>
                    <div class="d-flex box-layout">
                        <div class="mb-3 d-flex flex-column">
                            <label for="address" class="form-label main-text">주소</label>
                            <input class="input-style" type="text" id="address" class="form-control sub-text"
                                 name="address" value="{{user.address}}" disabled>
                        </div>
                        <div class="mb-3 d-flex flex-column box-layout-right">
                            <label for="date" class="form-label main-text">생년월일</label>
                            <input class="input-style" type="date" id="date" class="form-control sub-text"
                                 name="date" value="{{user.age}}" disabled>
                        </div>
                    </div>
                    <div class="mb-3 d-flex flex-column box-layout-textarea">
                        <label for="content" class="form-label main-text">자기소개</label>
                        <textarea class="form-control sub-text" rows="5" name="content">{{content}}</textarea>
                    </div>
                    {{/userResume}}
                    <div class="d-flex box-layout-skillArea flex-column">
                        <div class="ml-3 body-content-title main-text">
                            <p><b>기술스택</b></p>
                        </div>
                        <div class="body-content-title2 sub-text">
                            {{#selectSkill}}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="skilList" value="{{skillName}}"
                                    id="{{skillName}}" checked="checked">
                                <label class="form-check-label" for="{{skillName}}">{{skillName}}</label>
                            </div>
                            {{/selectSkill}}
                            {{#restSkill}}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="skilList" value="{{skillName}}"
                                    id="{{skillName}}">
                                <label class="form-check-label" for="{{skillName}}">{{skillName}}</label>
                            </div>
                            {{/restSkill}}
                            <br>
                        </div>
                        <div class="d-flex box-layout-skillArea flex-column">
                            <div class="ml-3 body-content-title main-text">
                                <p><b>지역</b></p>
                            </div>
                            <div class="body-content-title3 sub-text">
                                {{#selectArea}}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="areaList" value="{{areaName}}"
                                        id="{{areaName}}" checked="checked">
                                    <label class="form-check-label">{{areaName}}
                                    </label>
                                </div>
                                {{/selectArea}}
                                {{#restArea}}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="areaList" value="{{areaName}}"
                                        id="{{areaName}}">
                                    <label class="form-check-label">{{areaName}}
                                    </label>
                                </div>
                                {{/restArea}}
                            </div>
                        </div>
                        <div class="d-flex bottom-box justify-content-end">
                            <button class="btn btn-style btn-register main-text bottom-box-right" type="submit"
                                onmouseover="highlightButton(this)" onmouseout="unhighlightButton(this)">이력서수정</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    // 카드 마우스 오버 시 스타일 변경
    function highlightCard(element) {
        element.style.border = '2px solid #9F12E1';
        element.style.cursor = 'pointer';
    }

    function unhighlightCard(element) {
        element.style.border = '1px solid #ccc';
        element.style.cursor = 'pointer';
    }

    // 버튼 마우스 오버 시 스타일 변경
    function highlightButton(element) {
        element.style.cursor = 'pointer';
        element.style.boxShadow = '3px 3px 5px rgba(0, 0, 0, 0.2)';
    }

    function unhighlightButton(element) {
        element.style.cursor = 'pointer';
        element.style.boxShadow = 'none';
    }

    // 회원정보 수정 메뉴 마우스 오버시 이미지 변경
    let personalImageContainer = document.getElementById("personalImageContainer");
    let personalImage = document.getElementById("personalImage");
    let personalImageSrc = "/images/personal.png";
    let personalHoverImageSrc = "/images/personalOn.png";

    personalImageContainer.addEventListener("mouseover", function () {
        personalImage.src = personalHoverImageSrc;
    });

    personalImageContainer.addEventListener("mouseout", function () {
        personalImage.src = personalImageSrc;
    });

    // 채용공고 메뉴 마우스 오버시 이미지 변경
    let employmentImageContainer = document.getElementById("employmentImageContainer");
    let employmentImage = document.getElementById("employmentImage");
    let employmentImageSrc = "/images/resume.png";
    let employmentHoverImageSrc = "/images/resumeOn.png";

    employmentImageContainer.addEventListener("mouseover", function () {
        employmentImage.src = employmentHoverImageSrc;
    });

    employmentImageContainer.addEventListener("mouseout", function () {
        employmentImage.src = employmentImageSrc;
    });

    // 채용공고 현황 메뉴 마우스 오버시 이미지 변경
    let statusImageContainer = document.getElementById("statusImageContainer");
    let statusImage = document.getElementById("statusImage");
    let statusImageSrc = "/images/resume.png";
    let statusHoverImageSrc = "/images/resumeOn.png";

    statusImageContainer.addEventListener("mouseover", function () {
        statusImage.src = statusHoverImageSrc;
    });

    statusImageContainer.addEventListener("mouseout", function () {
        statusImage.src = statusImageSrc;
    });

    // 관심구직자 메뉴 마우스 오버시 이미지 변경
    let interestImageContainer = document.getElementById("interestImageContainer");
    let interestImage = document.getElementById("interestImage");
    let interestImageSrc = "/images/company.png";
    let interestHoverImageSrc = "/images/companyOn.png";

    interestImageContainer.addEventListener("mouseover", function () {
        interestImage.src = interestHoverImageSrc;
    });

    interestImageContainer.addEventListener("mouseout", function () {
        interestImage.src = interestImageSrc;
    });
</script>
{{> layout/footer}}